<div class="card">
  
    <table class="table table-custom">
      <thead>
        <tr>
          <th>Name</th>
          <th>Before Update Command</th>
          <th>After Update Command</th>
          <th>Application Files</th>
          <th>To Be Deployed</th>
          <th>Deploy On</th>
          <th>Actions</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let config of appUpdaterConfigList">
          <td>{{config.name}}</td>
          <td><button (click)="viewContent('Before Update Commands', config.beforeUpdateCommands)" class="btn btn-secondary">View</button></td>
          <td><button (click)="viewContent('After Update Commands', config.afterUpdateCommands)" class="btn btn-secondary">View</button></td>
          <td><button (click)="viewContent('Application Files', config.applicationFiles)" class="btn btn-secondary">View</button></td>
          <td><button (click)="viewContent('To Be Deployed', config.toBeDeployed)" class="btn btn-secondary">View</button></td>
          <td><button (click)="viewContent('Deploy On', config.deployOn)" class="btn btn-secondary">View</button></td>
          <td class="tddb">
            <button (click)="updateConfig(config.name)" class="btn-edit">Update</button>
            <button (click)="deleteConfig(config.name)" class="btn-edit">Delete</button>
            <button (click)="runConfig(config)" class="btn-edit">Run</button>
          </td>
          <td><button (click)="viewContent('Deploy Result', config.result)" class="btn btn-secondary">View</button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner></mat-spinner>  <!-- Angular Material spinner -->
    </div>
  
    <app-view-modal *ngIf="showModal" [title]="modalTitle" [content]="selectedContent" (close)="closeModal()"></app-view-modal>

    <button (click)="addConfig()" class="btn-edit">Add</button>
  </div>
  