
<div class="card">
  
  <table class="table table-custom">
    <thead>
      <tr>
        <th>Name</th>
        <th>User</th>
        <th>Host</th>
        <th>Password</th>
        <th>Port</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vm of vms">
        <td>{{vm.name}}</td>
        <td>{{vm.user}}</td>
        <td>{{vm.host}}</td>
        <td>*****</td>
        <td>{{vm.port}}</td>
        <td class="update-delete-section">
          <button (click)="edit(vm.name)" class="btn-edit">Update</button>
          <button (click)="deleteVm(vm)" class="btn-edit">Delete</button>
          <button (click)="loadCommands(vm.name)" class="btn btn-danger">View</button>
          <button (click)="listActiveJavaProcesses(vm.name)" class="btn btn-primary">List Active Java Processes</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="align-right">
    <button (click)="addVm()" class="btn-edit">Add</button>
  </div>
</div>
