.card {
    position: relative;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 20px 20px;
    margin: 30px;
    padding: 30px;
    overflow: hidden;
}
.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .command-form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .text-danger {
    color: red;
    font-size: 0.875em;
  }
  
  .table {
    margin-top: 20px;
  }
  