.card {
    position: relative;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 20px 20px;
    margin: 30px;
    padding: 30px;
    overflow: hidden;
}